html,body{width:100%;height:100%;border:0;margin:0;padding:0}
body{font-size:100%;line-height:1.125em;-webkit-text-size-adjust:none;cursor:default}
button{color:#333;font-family:helvetica;font-size:14px;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;user-select:none;width:auto;overflow:visible;cursor:pointer;*cursor:hand}
button:active,button:focus{outline:none}
button:active,button.active{background:#f0f0f0;border-color:#8e9399;-webkit-box-shadow:inset 0 2px 2px rgba(145,145,145,.3);-moz-box-shadow:inset 0 2px 2px rgba(145,145,145,.3);box-shadow:inset 0 2px 2px rgba(145,145,145,.3)}
button:focus{border-color:#8e9399}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
.last_line{display:none !important}
.is-online{color:red}
@keyframes blink{to{opacity:.3}
}
.frame{position:fixed;top:10px;left:10px;right:10px;bottom:10px}
.frame1{background:url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEUAAAALAAAAAABAAEAAAICRAEAOw==")}
.frame2{background:url(theme/px.gif)}
.bg1,.bg2,.bg3,.sprite1,.sprite2,.sprite3{height:42px;width:42px;display:block;float:left;margin:0;padding:0;border:1px solid black}
.bg1{background:url(theme/bg1.png) no-repeat right top transparent}
.sprite1{background:url(v.png) no-repeat right 0 transparent}
.sprite2{background:url(v.png) repeat-x 0 -42px}
.bg2{background:url(theme/bg2.png) repeat-x 0 0}
.sprite3{background:url(theme/bg1.png)}
.bg3{background:url(v.png) repeat-x 0 0}
.ico1{background:url(i.png) no-repeat left 0}
.ico2{background:url(i.png) no-repeat left -32px}
b{color:red;background:none;content:"\00a0";border-color:transparent #abc transparent transparent}
